/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
  }


/* 
  .players{
    position: fixed;
    height: 200px;
    width: 310px;
    background-color: rgb(28, 137, 209);
    margin-left: 65px;
    margin-top: 50px;
    line-height: 200px;
    text-align: center;

    top: 230px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
  }

  .chooseplayer{
    position: absolute;
    height: 80px;
    width: 80px;
    left: 350px;
    color: white;
    background-color: rgb(190, 32, 32);
    text-align: top;
    top: 90px;
    line-height:80px;
    opacity: 0.65;
  }
  .x {
    left: 88px;
    top: 84px;
    height:40px;
    width: 40px;
    border-radius: 10%;
  }

  .o:hover{
    transition: all 2s;
  }

  .o {
    left: 180px;
    top: 84px;
    height:40px;
    width: 40px;
    border-radius:10%
  }

  .hide {
    display:none;
  } */



  .movingText {
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    color: #3b5998;
    text-align:center;
    font-weight: 900;
    font-size: 4.5em;
  }
  .movingText .letters {
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }

  .token{
    position:absolute;
    top:80px;
    left: 410px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius:40%;
    bottom: 100px;
  }
  .token1{
    display: inline-block;
    background-color: rgb(17, 106, 189);
    height: 60px;
    width: 205px;
    vertical-align: bottom;
    line-height: 30px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
  }
  .token2{
    display: inline-block;
    background-color: rgb(17, 106, 189);
    height: 60px;
    width: 205px;
    vertical-align: bottom;
    line-height: 30px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
  }
  input[type=text] {
    color: rgb(223, 69, 69);
    border-radius: 10%;
    width:100px;
    text-align: center;
 }
  .submit {
    font-family: 'Share Tech Mono', monospace;
    color: rgb(17, 17, 17);
    
    
 }
  .submit:hover {
    transition: 2s;
  }

  .page {
    /* position: absolute;
    left:500px; */
    margin: 150px auto;
    background: rgba(255, 255, 255, .98);
    background-color: #fff;
    border: 10px solid rgb(75, 75, 201);
    /* -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25); */
    height: 300px;
    width: 22%;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .page ul {
    font-family: 'Share Tech Mono', monospace;
    font-size:larger;
    list-style: none;
    position: relative;
    display: block;
    color: #983b43;
    font-weight: bold;
    
  }

  .page ul li:hover{
      background: rgb(127, 166, 226);
      transition: 2s;
      
    }

  .page ul li {
    border: 1px solid rgba(72, 91, 196, 0.4);
    border-width: 1.2px;
    border-right: none;
    border-top: none;
    float: left;
    width: 30.99%;
    height: 100px;
    text-align: center;
    line-height: 6;
    padding-left: 6.2px;
  }
  .message {
    position: absolute;
    bottom:0px;
    /* -webkit-box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.7);
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.7); */
    padding: 10px;
    border-radius: 5px;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
  }
  .score{
    position:absolute;
    top:520px;
    left: 300px;
    margin: 50px;
    text-align: center;
    padding: 20px;
    border-radius:40%;
    bottom: 100px;
  }
  .counts{
    display: inline-block;
    background-color: rgb(17, 106, 189);
    height: 40px;
    width: 155px;
    vertical-align: bottom;
    line-height: 40px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
  }
  .Wins {
    display: inline-block;
    height: 60px;
    width: 100px;
    background-color: #e62929;
    text-align: center;
    line-height: 60px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    padding: 10px;
    vertical-align: top;
    color:white;
  }




  /* #title{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin:0 auto;
    color: #949db3;
    text-align:center;
  } */



  /* Mobile Friendly */
  /* @media (min-width: 550px) {
   #page {
     width: 50%;
    }
    #page ul li{
      width:31%;
    }
  } */

  /* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) 
and (orientation: landscape) {

}