/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
  }

  .ml4 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    color: #3b5998;
    text-align:center;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }


  #page {
    margin: 50px auto;
    background: rgba(255, 255, 255, .98);
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    height: 300px;
    width: 40%;
    border-radius: 10px;
    border-color: blue;
    overflow: hidden;
  }
  #page ul {
    font-family: 'Pacifico', cursive;
    list-style: none;
    position: relative;
    display: block;
    color: #3b5998;
    font-weight: bold;
  }

  #page ul li:hover{
      background: rgb(127, 166, 226);
      transition: 2s;
    }

  #page ul li {
    border: 2.7px solid rgba(72, 91, 196, 0.4);
    border-right: none;
    border-top: none;
    float: left;
    width: 32%;
    height: 100px;
    text-align: center;
    line-height: 6;
    padding-left: 5px;
  }

  #message {
    position: absolute;
    bottom: 0;
    /* -webkit-box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.7);
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.7); */
    padding: 10px;
    border-radius: 5px;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s;
  }


  #title{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    margin:0 auto;
    color: #3b5998;
    text-align:center;
  }


  /* @media (min-width: 550px) {
   #page {
     width: 50%;
    }
    #page ul li{
      width:31%;
    }
  } */

  /* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 320px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) 
and (orientation: landscape) {

}